/******************************************************************* Nevigation Bar **************************************************************************/
.navbar {
    width: 100vw;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.nav-item a {
    padding: 0;
}

.backToNavBar {
    width: auto;
    padding: 10px;
}

.planYourTrip a {
    font-size: 0.8rem;
    padding: 10px 0px;
}

.planYourTrip a:hover {
    font-size: 0.8rem;
}

.backToTop {
    position: fixed;
    bottom: 20px;
    /* Adjust the distance from the bottom as needed */
    right: 20px;
    /* Adjust the distance from the right as needed */
    z-index: 999;
    /* Ensure the button appears on top of other content */
}

.backToTop a {
    display: block;
    font-size: 2rem;
    padding: 10px;
}

.backToTop a:hover {
    color: whitesmoke;
    border-radius: 10%;
    border: 1px solid black;
    padding: 5px;
}

.horizontal-line {
    width: 50px;
}

/********************************************************** Header And Two Paras About G P B ****************************************************************/
#WrapperFullPage {
    padding: 0 20px;
}

.fullPage {
    width: auto;
}

.headerAndTwoParasAboutGPB {
    margin-top: 1rem;
}

.headerAndTwoParasAboutGPB h1 {
    font-size: clamp(16px, 8vw, 80px);
}

.twoParas {
    margin-top: 1rem;
    flex-direction: column;
    gap: 0.1rem;
}

.twoParas p {
    line-height: 1.6rem;
    font-size: 0.99rem;
}

/******************************************************************* Accommodations-Around- **************************************************************************/
.accommodations-Around- {
    padding-top: 2rem;
    margin-top: 2rem;
}

.accommodations-Around- p {
    text-align: center;
    padding: 2rem 10px;
}

/******************************************************************* Some Of This Header And List **************************************************************************/
.someofthisList {
    margin-top: 1rem;
    columns: 1;
}

.someofthisHeaderAndList h2 {
    font-size: 1.1rem;
}

/******************************************************************* Things To Do IN **************************************************************************/
.thingsDiv {
    flex-direction: column;
    gap: 3rem;
}

.thingsDiv>* {
    width: auto;
}

.thing1 img {
    width: 95vw;
    height: auto;
}

/******************************************************************* Best Time To Visit **************************************************************************/
/******************************************************************* How To Reach **************************************************************************/

.byDiv {
    flex-direction: column;
    gap: 2rem;
}

.byDiv>* {
    width: auto;
}

/******************************************************** Popular Links  *******************************************************/
.popularLinksDiv {
    margin-top: 0;
    flex-direction: column;
    width: auto;
}

/******************************************************************* EndSection **************************************************************************/
.endSection {
    width: auto;
    padding: 0 10px;
}

.firstHalf {
    flex-direction: column;
}

.inMainSection {
    width: 98vw;
    padding-left: 10px;
    padding-right: 10px;
}

.inMainSection ul {
    margin-bottom: auto;
    margin-top: 0;
}

.legalPolicies {
    height: auto;
    width: 98vw;
    padding-left: 10px;
    padding-right: 10px;
}

.legalPolicies h3 {
    margin-top: 1rem;
}


.legalPolicies ul {
    margin-bottom: 0.1rem;
    margin-top: 0;
}

.socialHandles {
    height: auto;
    width: 98vw;
    padding-left: 10px;
    padding-right: 10px;
}

.socialHandles h3 {
    margin-top: 1rem;
}

.socialHandles ul {
    gap: 1vw;
}

.socialHandles img {
    height: 6vw;
    max-height: 6vh;
}

.contactUs {
    flex-direction: column-reverse;
    margin-bottom: auto;
    border-top: none;
    justify-content: center;
}

.addressAndContactDetails {
    font-weight: bold;
    gap: 1rem;
    border-left: none;
    font-size: small;
}

.addressAndContactDetails ul {
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.copyright {
    align-items: center;
    align-self: center;
    margin: auto;
}

.get {
    padding-left: auto;
    padding-top: auto;
}